.moi {
  display: flex;
  justify-content: space-between;
}

.image {
  display: flex;
  justify-content: flex-end;
  /* max-width: 30%; */
  margin-right: 0%;
}

.getToKnowStyle {
  align-items: center;
  max-width: 65%;
  margin-right: auto;
}

.gif {
  max-height: 300px;
  height: auto;
}

@media (max-width: 768px) {
  .gif {
    display: none;
  }
  .getToKnowStyle {
    align-items: center;
    max-width: 100%;
    margin-right: auto;
  }
}

.summaryText {
  padding-top: 4%;
  font-size: large;
  margin-bottom: 10%;
}

.pageTitle {
  font-weight: 100;
  font-size: 40px;
  font-family: sans-serif;
  margin-top: 0%;
  margin-bottom: 5%;
}

.introduction {
  line-height: 140%;
}

.paint1 {
  background: rgba(187, 183, 180, 0.27);
  position: relative;
  font-weight: bold;
  border-bottom: 3px solid rgba(255, 127, 0);
  border-radius: 5%;
  padding: 2px 5px 0 5px;
  /* line-height: 70%; */
}

.paint2 {
  background: rgba(187, 183, 180, 0.27);
  position: relative;
  font-weight: bold;
  border-bottom: 3px solid rgba(92, 60, 187);
  border-radius: 5%;
  padding: 2px 5px 0 5px;
  /* line-height: 70%; */
}

.paint3 {
  background: rgba(187, 183, 180, 0.27);
  position: relative;
  font-weight: bold;
  border-bottom: 3px solid rgb(211, 50, 50);
  border-radius: 5%;
  padding: 2px 5px 0 5px;
  /* line-height: 70%; */
}

.paint4 {
  background: rgba(187, 183, 180, 0.27);
  position: relative;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
  border-bottom: 3px solid rgba(224, 175, 255);
  border-radius: 5%;
  padding: 2px 5px 0 5px;
  /* line-height: 70%; */
}

.socialButttons {
  display: flex;
  width: 30px;
}

.socialButtton {
  padding-right: 0.3em;
}

.socialButtton > * {
  width: 30px;
}

.socialButtton > span > img {
  width: 30px;
}

a {
  align-content: center;
  text-decoration: none;
  color: black;
  font-weight: 100;
}

a:hover {
  transition: 0.3s;
  opacity: 0.8;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 3em;
  font-size: small;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 0.3em 0;
  position: absolute;
  position: absolute;
  left: 0px;
  top: -70%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
