.moi {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.image {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin-right: 0%;
}

.getToKnowStyle {
  align-items: center;
  width: 70%;
  margin-right: auto;
}

.gif {
  max-height: 300px;
}

.summaryText {
  padding-top: 4%;
  font-size: large;
  margin-bottom: 10%;
}

.pageTitle {
  font-weight: 100;
  font-size: 40px;
  font-family: sans-serif;
  margin-top: 0%;
  margin-bottom: 5%;
}

.introduction {
  line-height: 140%;
}

.paint1 {
  background: rgba(255, 127, 0, 0.4);
  position: relative;
  /* line-height: 70%; */
}

.socialButttons {
  width: 35px;
  margin-right: 0.4em;
  align-items: baseline;
}
