.moi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 770px;
  font-size: medium;
  line-height: 120%;
}

@media (max-width: 768px) {
  .moi {
    width: auto;
  }
}
