.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 50%;
  font-size: medium;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 0.3em 0.4em;
  position: absolute;
  position: absolute;
  left: 0px;
  bottom: 2em;
  /* border-radius: 10% 10%; */
  text-wrap: nowrap;
  font-family: "Courier New", Courier, monospace;
  line-height: 110%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.flags {
  font-size: x-large;
  vertical-align: middle;
}

.colorBlind {
  text-decoration: underline;
}

.moiInfo {
  max-width: 70%;
}

.cooper {
  max-height: 300px;
  height: auto;
}
@media (max-width: 768px) {
  .cooper {
    display: none;
  }
  .moiInfo {
    align-items: center;
    max-width: 100%;
    margin-right: auto;
  }
}

.moiCooper {
  display: flex;
  justify-content: space-between;
}
