body {
  font-family: sans-serif;
  font-weight: 100;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 770px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: sans-serif;
  color: black;
  font-size: x-large;
  text-decoration: none;
}

.navigator {
  /* font-family: "monospace", "Courier New"; */
  color: black;
  text-decoration: none;
  font-weight: 00;
}

.seperator {
  margin-left: 3px;
  margin-right: 3px;
}

.pageTitleFont {
  font-weight: 100;
}

ul {
  list-style: none inside;
  padding-left: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.footerTitle {
}

.email {
}
