body {
  font-family: sans-serif;
  font-weight: 100;
  margin-top: 10%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: bas;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.header {
  display: flex;
  align-items: center;
}

.title {
  font-family: sans-serif;

  color: black;
  font-size: x-large;
  text-decoration: none;
}

.navigator {
  /* font-family: "monospace", "Courier New"; */
  color: black;
  text-decoration: none;
  font-weight: 100;
}

.seperator {
  margin-left: 3px;
  margin-right: 3px;
}

.pageTitleFont {
  font-weight: 100;
}

ul {
  list-style: none inside;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
